<!DOCTYPE html>
<html lang="pt-br">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta - Project Enigmatic</title>
    <link rel="shortcut icon" href="/source/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/center.css">
    <link rel="stylesheet" href="css/auth.css">
    <link rel="stylesheet" href="css/inputs.css">
    <%- include("../partials/bootstrap.ejs")%>
    
    
</head>
<body class="container">  
    <a  href="/"><button class="voltar"><i class="bi bi-house-door-fill icon"></i></button></a>

    <div class="container-video"></div>
    <div class="fade"></div>
    
   <form id="form" class="container-main" method="POST" action="/signin-save" >
        <h1 class="h1-auth">Crie sua conta</h1>
        <p  style="opacity: 0;" class="<%= erroU ? "aviso" : "p-auth" %>" >O usuário deve ter ao menos 4 caractéres.</p>
        <p  style="opacity: 0;" class="<%= erroP ? "aviso" : "p-auth" %>">Sua senha deve ter ao menos 8 caractéres.</p>
        <p  style="opacity: 0;" class="<%= alreadyExists ? "aviso" : "p-auth" %>">Este nome de usuário já existe.</p>
        <input required type="text" name="user" id="user" placeholder="Usuário" class= "input-auth" >
        <input required  type="password" name="password" id="password" placeholder="Senha"  class= "input-auth">
        <button id="submit" class="button">Criar</button>
        <p class="label">ou</p>
        <a class="a" href="/login">faça Login</a>
   </form>
   <%- include("../partials/footer.ejs")%>
   <!-- <script src="/scripts/auth.js"></script> -->
</body>
</html>